:root {
    --clr-surface-light: #FFFFFF;
    --clr-surface-dark: #000000;
    --clr-surface-gray: #909090;

    --clr-surface-0: #000000CC;
    --clr-surface-1: #323232;

    --clr-primary-0: hsla(285, 100%, 40%, 1);
    --clr-primary-1: hsl(285, 100%, 65.29%);

    --clr-shadow-dark: #00000097;
    --clr-shadow-0: hsla(285, 100%, 50%, 60%);
    --clr-shadow-1: hsla(285, 100%, 50%, 30%);

    --clr-seman-err: #FF0000;

    --clr-border-primary: hsl(285, 98.92%, 36.27%);
}